<app-nav></app-nav>
<div style="margin:15px;  background: #eee;">
    <div class="float-left">
       <span style="font-size: 24px;">Publications</span> 
    </div>
    <div class="float-right">
      <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="openpublicationmodal()">+ Publication</button>
    </div>
</div>
<br>
<div style="padding-top: 20px; margin:0px 30px 0px 30px;">
<select class="form-select form-control" style="max-width: 200px;" #role aria-label="Role" [value]="role.value" (change)="onchange(role.value)">
  <option selected value="">Filter</option>
  <option *ngFor="let ele of types" [value]="ele">{{ele}}</option>
</select>
</div>
<div style="padding: 20px; margin:30px 30px 30px 30px;">
  <table class="table table-striped">
    <thead>
      <tr>
      <th scope="col">Year</th>
      <th scope="col">Type</th>
      <th scope="col">Title</th>
      <th scope="col">Report</th>
      <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr [hidden]="!sjou" *ngFor="let ele of jou">
        <td>{{ele.publicationYear}}</td>
        <td>{{ele.type}}</td>
        <td>{{ele.title}}</td>
        <td><button mat-icon-button style="color: #0e3570;" (click)="download(ele.proof)">
          <mat-icon>cloud_download</mat-icon>
        </button></td>
        <td><button mat-icon-button style="color: #0e3570;" (click)="deletep(ele)">
          <mat-icon>delete</mat-icon>
        </button></td>
      </tr>
      <tr [hidden]="!scon" *ngFor="let ele of con">
        <td>{{ele.publicationYear}}</td>
        <td>{{ele.type}}</td>
        <td>{{ele.contentTitle}}</td>
        <td><button mat-icon-button style="color: #0e3570;" (click)="download(ele.proof)">
          <mat-icon>cloud_download</mat-icon>
        </button></td>
        <td><button mat-icon-button style="color: #0e3570;" (click)="deletep(ele)">
          <mat-icon>delete</mat-icon>
        </button></td>
      </tr>
      <tr [hidden]="!spat" *ngFor="let ele of pat">
        <td>{{ele.academicYear}}</td>
        <td>{{ele.type}}</td>
        <td>{{ele.patentTitle}}</td>
        <td><button mat-icon-button style="color: #0e3570;" (click)="download(ele.proof)">
          <mat-icon>cloud_download</mat-icon>
        </button></td>
        <td><button mat-icon-button style="color: #0e3570;" (click)="deletep(ele)">
          <mat-icon>delete</mat-icon>
        </button></td>
      </tr>
    </tbody>
  </table>
    </div>


