<app-nav></app-nav>
<div style="margin:15px;  background: #eee;">
    <div class="float-left">
       <span style="font-size: 24px;">Funded Projects</span> 
    </div>
    <div class="float-right">
      <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="openfpmodal()">+ Funded Projects</button>
    </div>
</div>
<br>

<div style="padding: 20px; margin:30px 30px 30px 30px;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>
    
      <ng-container matColumnDef="guest">
        <th mat-header-cell *matHeaderCellDef> Guest </th>
        <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
      </ng-container>
    
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.school}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
       
      
      
    </table>
    </div>
    <div *ngIf="dataSource==null" style="text-align:center;">No data to be shown</div>



