<app-nav></app-nav>

<div style="margin:15px;  background: #eee;">
    <div class="float-left">
    </div>
    <div class="float-right">
      <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="openeventmodal()">+ Event</button>
      <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="openpublicationmodal()">+ Publication</button>
      <button mat-raised-button color="primary" style="margin-right: 10px;">+ Consultances</button>
      <button mat-raised-button color="primary" style="margin-right: 10px;">+ Funded Projects</button>
    </div>
</div>
<br><br>
<app-dashboard></app-dashboard>